h5{
    font-family: 'Montserrat', sans-serif;
}
li{
   font-family: 'Montserrat', sans-serif;
}

.fondoPrincipal{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/umakeit-bsu-p1.appspot.com/o/b97834c5ba1fb532b5ee61136914fd16.jpg?alt=media&token=8b7fac5b-689f-4506-bfcd-c5ea555cb1ff");
}