
<!-- Inicio Fondo -->
<div class="fondo">
    <div class="container">
        <div class="row mb-5"></div>

        <div class="row  mt-5 mb-5"></div>

        <div class="row">

          <div class="col-3"></div>

          <div class="col-6">
            <!-- Inicio Cuadro -->
            <div class="recuadroInicio">
              
              <!-- Inicio Fila -->
              <div class="row mt-3 mb-3 justify-content-center">
                <img src="https://firebasestorage.googleapis.com/v0/b/umakeit-bsu-p1.appspot.com/o/fresh%20groceries%20delivery%20(1).jpg?alt=media&token=d1b4b414-7772-4d34-8046-99587257cbf9" style="border-radius:10px;">
              </div>
              <!-- Fin Fila -->

              <!-- Inicio Fila -->
              <div class="row">
                <!-- Inicio Pills -->
                <div class="container">
                 

                    

                      <!-- Tab 1 -->
                      <div class="tab-pane container active" id="home">
                      
                          <form>
                              <div class="form-group mt-3">
                                <label for="email" class="ml-1">Correo electrónico</label>
                                <input #Email type="email" class="form-control mt-1" id="emailI" placeholder="Correo electrónico">
                                
                              </div>
                              <button (click)="RecuperarContrasena(Email)" class="btn btn-secondary mt-1 mb-1 ">Recuperar mi Contraseña</button>
                              <button class="btn btn-secondary ml-2" routerLink="/login">Regresar</button>
                          </form>
                      </div>
                      <!-- Fin Tab 1 -->
                      
                    

              
              </div>
              <!-- Fin Fila -->

              <!-- Inicio Fila -->
              <div class="row"></div>
              <!-- Fin Fila -->

            </div>
            <!-- Fin Cuadro -->
          </div>
          <div class="col-3"></div>
        </div>
      
    </div>
  </div>
  <!-- Inicio Fondo -->